
$background-color: black;
$text-color: white;
$main-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$general-size: 1rem;
$hover-color: rgb(236, 204, 75);